aiocron==1.8
aiohttp==3.8.1
async-timeout==4.0.2
attrs==21.4.0
chardet==4.0.0
croniter==1.3.4
DateTime==4.4
discord.py==1.7.3
environs==9.5.0
httplib2==0.20.4
icalendar==4.0.9
icalevents==0.1.25
idna==3.3
marshmallow==3.15.0
multidict==6.0.2
packaging==21.3
pip==22.0.4
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz-deprecation-shim==0.1.0.post0
pytz==2022.1
setuptools==62.1.0
six==1.16.0
typing-extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
yarl==1.7.2
zope.interface==5.4.0
